header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  width: 90%;
  margin: auto;
}

ul {  
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  
}


li {
  min-width: 250px;
  width: 250px;
  background-color: #222233;
  padding: 20px;
  margin: 16px;
  
  border: #222233 solid 1px;
  border-radius: 8px;
  
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  
}

li:hover {
  opacity: 0.8;
}

li img {
  width: 150px;
  height: 100px;
  border-radius: 8px;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #fff;
  flex: 1 ;
  line-height: 32px;
}

a:hover {
  opacity: 0.8;
}

